.search-filter-more
  background #fff
  padding 10PX 16PX 16PX
  border-bottom-left-radius 10PX
  border-bottom-right-radius 10PX
  .item-name
    font-size 13PX
    color #333
    margin-bottom 10PX
  .item-child
    background #F7F7F7
    border-radius 8PX
    font-size 13PX
    color #333
    text-align center
    padding 10PX
    border 1PX solid #F7F7F7
    &.active
      background #FEF5F5
      color #FF4827
      font-weight 500
      border-color #FF4827
  .filter-btns
    margin-top 20PX
    display flex
    flex-direction row
    font-size 14PX
  .reset-btn
    flex 1
    height 30PX
    line-height 30PX
    text-align center
    border 1PX solid #FF4827
    color #FF4827
    border-radius 15PX
    box-sizing border-box
  .confirm-btn
    flex 1
    height 30PX
    line-height 30PX
    text-align center
    color #fff
    background #FF4827
    border-radius 15PX
    box-sizing border-box
    margin-left 16PX
