.virtual-list-pull-refresh
  background #f3f3f3

  .virtual-list
    &::-webkit-scrollbar
      display: none

  .shop-search-filter-container
    margin 0 8PX 8PX 8PX
    padding 16PX 16PX 4PX
    box-sizing border-box
    border-radius 8PX
    background-color transparent
    background-image linear-gradient(180deg, #FFFFFF 30%, rgba(255,255,255,0.00) 100%)
    .shop-search-filter-title
      font-size 16PX
      color #333
      letter-spacing 0
      font-weight 500
      margin-bottom 16PX

  .promoter-shop-item
    margin 0 8PX 8PX 8PX


  .nut-pulltorefresh-head-content
    font-size 12PX
    color #999

  .refresh-tips
    display flex
    flex-direction column
    align-items center

  .tips
    margin-top 4PX