.hot-tag-component
  display flex
  flex-direction row
  align-items center
  flex-wrap nowrap
  height 20PX
  line-height 20PX
  padding 0 5PX
  margin-right 6PX
  border-radius 3PX
  font-size 12PX
  color #FF4827
  letter-spacing 0
  white-space nowrap
  background rgba(255, 72, 39, .06)

  .hot-icon
    width 9PX
    height 11PX
    margin-right 5PX
