.virtual-list-pull-refresh
  background #f3f3f3

  .virtual-list
    &::-webkit-scrollbar
      display: none

  .nut-pulltorefresh-head-content
    font-size 12PX
    color #999

  .refresh-tips
    display flex
    flex-direction column
    align-items center

  .tips
    margin-top 4PX

  .list-emtpy
    height 100%
    display flex
    flex-direction column

  .no-data-body
    flex 1
    height 100%
