.scroll-view-page
  height 100%
  background #f3f3f3

  .scroll-view
    width 100%
    background #fff
    display flex
    flex-direction row

  .tab-item
    min-width 80PX
    font-size 14PX
    color #333
    padding 10PX
    &.active
      color red

  .body
    padding 20PX
    flex 1
    display flex
    flex-direction column
    align-items center
    justify-content center

